<!DOCTYPE html>
<html>
<head>
	<title>Hello Data</title>
</head>
<body>
	<h1>Testing</h1>
	<div>
		<% for(var i=0; i < listofdata.length; i++) { %>
		   <li>
		     <%= listofdata[i].age %>
		   </li>
		<% } %>
	</div>
</body>
</html>